@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0 auto;
  max-width: 1440px;
}

a {
  font: 100% "Poppins", normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #2E3A4B;
  text-decoration: none;
}

.sec-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#E6F7FF), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #E6F7FF 0%, rgba(255, 255, 255, 0) 100%);
}
.sec-1__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.sec-1__navigation__arrow {
  margin-bottom: 3px;
}
.sec-1__navigation__href {
  margin-right: 30px;
}
.sec-1__navigation__href_last {
  margin-right: auto;
}
.sec-1__navigation__user {
  margin-right: 30px;
}
.sec-1__navigation__user_last {
  margin-right: auto;
}

.sec-1_2 {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.sec-1_2__main-text {
  font: 100% "Playfair Display", sans-serif;
  font-size: 60px;
  line-height: 80px;
  background: linear-gradient(93.87deg, #2260FF 5.86%, #862BE1 51.33%, #FA00FF 90.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 30px;
}
.sec-1_2__second-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.sec-1_2__button {
  background: #5138EE;
  border: 1px solid #5138EE;
  cursor: pointer;
  border-radius: 5px;
  width: 200px;
  height: 55px;
  margin-right: 30px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  color: #FFFFFF;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
.sec-1_2__button_last {
  margin-right: auto;
}
.sec-1_2__button:hover {
  background: none;
  border: 1px solid #5138EE;
  color: #5138EE;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.sec-2 {
  margin-top: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.sec-2__button {
  background: #F3F6F8;
  -webkit-box-shadow: 0px 0px 20px 5px #DEDEDE;
          box-shadow: 0px 0px 20px 5px #DEDEDE;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 30px;
  width: 270px;
  height: 165px;
}
.sec-2__button:hover {
  scale: 1.1;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.sec-2__button__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: auto;
}
.sec-2__button_last {
  margin-right: 0px;
}

.help {
  width: 720px;
}

.sec-3 {
  margin-top: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sec-3__div1 {
  margin-bottom: 20px;
}
.sec-3__div1__live {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #FA00FF;
  margin-bottom: 0;
  margin-bottom: -10px;
}
.sec-3__div2__main__text {
  font-family: "Playfair Display";
  font-size: 55px;
  line-height: 60px;
  background: linear-gradient(2deg, #2260FF 5.86%, #862BE1 51.33%, #FA00FF 90.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0;
}
.sec-3__div2__p {
  margin-top: 30px;
}
.sec-3__div2__p__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.adapptive-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.last {
  margin: 0;
}

.sec-4 {
  margin-top: 50px;
}
.sec-4__tabular-1 {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 0px 20px 5px #DEDEDE;
          box-shadow: 0px 0px 20px 5px #DEDEDE;
  border-radius: 10px;
  margin-left: 30px;
}
.sec-4__tabular-1__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 250px;
}
.sec-4__tabular-1__button__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #2E3A4B;
  margin: 0;
}
.sec-4__tabular-1__button__1 {
  border-radius: 100px;
  border: none;
  background: #F3F6F8;
  -webkit-box-shadow: -1px 3px 7px rgba(171, 171, 171, 0.62);
          box-shadow: -1px 3px 7px rgba(171, 171, 171, 0.62);
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-top: 26px;
}
.sec-4__tabular-1__button__2 {
  border-radius: 100px;
  border: none;
  background: #F3F6F8;
  -webkit-box-shadow: -1px 3px 7px rgba(171, 171, 171, 0.62);
          box-shadow: -1px 3px 7px rgba(171, 171, 171, 0.62);
  width: 113px;
  height: 40px;
  margin-left: 17px;
  margin-top: 21px;
}
.sec-4__tabular-1__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #000000;
}
.sec-4__tabular-1__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10px;
}
.sec-4__tabular-1__author__text {
  margin-left: 10px;
}
.sec-4__tabular-1__author__text__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  margin: 0;
  margin-bottom: 2px;
}
.sec-4__tabular-1__author__text__tag {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  margin: 0;
}

.sec-5 {
  margin-top: 120px;
}
.sec-5__basment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.sec-5__basment__logo {
  margin-top: 0;
}
.sec-5__basment__text1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.sec-5__basment__text2-1 {
  font-family: "Playfair Display";
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  margin-top: 0;
}
.sec-5__basment__text2-2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #2E3A4B;
}

@media (max-width: 1024px) {
  body {
    margin: 0 auto;
    max-width: 1000px;
  }
  .sec-1 {
    width: 1024px;
  }
  .adapptive-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sec-4__tabular-1 {
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .sec-1 {
    width: 768px;
  }
  body {
    margin: 0 auto;
    max-width: 768px;
  }
  .opp {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .sec-1__navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .adapptive-row-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sec-1__navigation__href {
    margin-top: 15px;
  }
  .sec-1__navigation__href_last {
    margin-bottom: 15px;
  }
  .sec-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sec-2__button {
    margin-bottom: 50px;
  }
  .sec-2__button_last {
    margin-right: 30px;
  }
  .sec-3 {
    margin-left: 30px;
  }
  .sec-5__basment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sec-5__basment__text2-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sec-5__basment__text2-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 425px) {
  body {
    margin: 0 auto;
    max-width: 425px;
  }
  .sec-1 {
    width: 425px;
  }
  .adapptive-row-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sec-1_2__main-text {
    width: 425px;
    margin-left: 10px;
  }
  .sec-1_2__second-text {
    width: 425px;
    margin-left: 10px;
  }
  .sec-1_2__button {
    margin-right: 10px;
    margin-left: 10px;
  }
  .help {
    width: 0;
  }
}
